* {
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif !important;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}

/* start pagination */

.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #fff;
  background-color: #b45b35 !important;
}

/* end pagination */
